* {
	box-sizing: border-box;
}

/* Browsers add a default margin to the body element. This creates a space between the edge of the browser window and your page content. To remove this space, I used 'margin: 0' for the body*/

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.8;
}

.banner {
	background-color: #f0f3fc;
	border-bottom: 1px solid #d8e0f7;
	padding: 2em;	
}

/* Browsers add a default margin to h1 elements. It was causing an issue with my layout. So, I used 'margin: 0' here to remove that margin. */

.banner h1 {
	margin: 0;
	text-align: center;
}

/* By default, the img is centered in banner. In the media query, the position property is used for large displays */

.banner img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

main, .sidebar {
	padding: 2em;
}

.site-footer {
	min-height: 6em;
	background-color: #f0f3fc;
	border-top: 1px solid #d8e0f7;
	text-align: center;
}

/* flexible img elements */
img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 768px) {

	body {
		font-size: 110%;
	}
	
	.content-wrapper {
        overflow: hidden;
        max-width: 1400px;
        margin: 0 auto;	
	}

	main {
		float: left;
		width: 67%;
		
	}
	
	.sidebar {
		float: left;
		width: 33%;
	}

	/* position img in banner on large displays */

	.banner {
		position: relative;
	}	

	.banner img {
		position: absolute;
		top: 5px;
		right: 5px;
	}
	
}/* ending curly bracket for media query */