/* === GLOBAL SETTINGS === */

* {
	box-sizing: border-box;
}

iframe {
	border: 0;
}

.copyright {
	text-align: center;
	font-style: italic;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #434343;
	line-height: 1.8;
}

/* === DEFAULT LAYOUT STYLING === */

.banner {
	background-color: #f0f3fc;
	border-bottom: 1px solid #d8e0f7;
	padding: 2em;	
}

.banner h1 {
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px #bbb;
}

main {
	padding: 2em;
}

.sidebar {
	padding: 2em;
}

.site-footer {
	min-height: 6em;
	background-color: #f0f3fc;
	border-top: 1px solid #d8e0f7;
}

/* === NAVIGATION MENU === */
 
.primary-menu ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.primary-menu li {
	list-style-type: none;
	padding: 0;
}

.primary-menu a {
	text-decoration:none;
	color:#0000ee;
	font-weight: bold;
	background-color: #dbdbdb;
	border: 1px solid #c9d4f5;
	border-radius: 4px;
	display: block;
	margin: 0.4em;
	padding: 0 0.4em;
	text-align: center;
}
   
.primary-menu a:hover {
	background-color:#fff;
}

/* === TABLE === */

main table {
	border: 1px solid #bbb; 
	border-collapse: collapse;
 }
 
main caption {
	font-weight: bold;
	color: #555;
}
  
main th {
	background: #dbdbdb;
	padding: 5px 4px;
	text-shadow: 1px 1px #fff;
	border-right: 1px solid #c8c7c7;
	color:#333;
}

main tr:nth-child(even) {
	background: #ebebeb;
}

main tr:nth-child(odd) {
	background: #fff;
}

main td { 
	color: #747474;
	padding: 6px;
	border-right: 1px solid #c8c7c7;
	border-bottom: 1px solid #c8c7c7;
}

main tfoot td{
	background: #dbdbdb;
	text-shadow: 1px 1px #fff;
	color:#555;
	font-size: 0.8em;
	font-style: italic;
}

/* === LIST === */

main ul ul li {
	font-style: italic;
	color: red;
}

main ul {
	list-style-type: square;
}


/* === FLEXIBLE MEDIA === */

img, video {
	  max-width: 100%;
	  height: auto;
}

/* responsive iframe media -- the iframe is inside of a div with a class named "media"  */

.media iframe {
	aspect-ratio: 16 / 9;
	width: 100%;
}

/* === DESKTOP LAYOUT === */

@media (min-width: 768px) {

	body {
		font-size: 110%;
	}
	
	.content-wrapper {
		max-width: 1400px;
		margin: 0 auto;	
		display: grid;
		grid-template-columns: 2fr 1fr;
	}

 } /* ending curly bracket for the media query */